body{
    background-color: aliceblue;
        /* margin: auto; */
    /* width: 50%;
    height: 50%; */
    width:100vw;
    padding: 10px;
    height:100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: scroll;
    
    }
    .Card{
    width: 200px;
    height:90px;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0;
    text-align: center;
    margin-top: 50px;
    margin-left: 180px;   
 }
    .Card .profile-photo{
        transform: translate(55%,-50%);
        width: 50px;
        height: 50px;
        border-radius:50px;
        /* transform: translate(); */
    }
    .Card .team-size{
        color: #fff;
        height: 25px;
        width: 25px;
        text-align: center;
        background-color: black;
        border-radius: 50%;
        transform: translate(270%,-170%);
        padding-top: 2%;
    }
    .Card .personal-details>h5, .personal-details>h2{
    margin-top: -29%;
    margin-bottom:30%;
    font-weight:normal;
    padding-top: 0%;
}
.child-class{
display: flex;
flex-direction: row;
}
.child-box{
    margin: 5%;
}
.ChildCard .profile-photo{
transform: translate(7%,-20%);
width: 50px;
height: 50px;
border-radius: 50px;
}